.content_card_1 {
  width: 18.75rem;
  height: 18.75rem;
  background-image: url("../../assets/summer.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  border-radius: 30px;
  padding: 20px;
  margin: 30px;
}
.air_degree {
  margin-bottom: 25px;
  color: #fff;
}
.air_degree > div {
  margin-top: 2px;
  font-size: 15px;
}
.air_degree_1 {
  font-size: 2rem;
  font-weight: 700;
}
.air_degree_2 {
  font-size: 12px;
  padding: 3px;
  background-color: #cce16a;
  color: black;
  border-radius: 5px;
  margin-left: 10px;
}
